<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">
                <i class="fa-solid fa-bowl-food"></i>
                <p>TasteThreads</p>
            </a>
            <div class="nav-buttons">
                <ul>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            <div>
        </div>
    </nav>
    <main>
        <div class="section-one">
        <h2>Upload A Dish You'd Like To Share!</h2>
        <p>Have a special dish you enjoy from a local restaurant? Upload and share them!</p>

        <form action="/post" method="POST" enctype="multipart/form-data">
            <label for="titleinput">Dish Name</label>
            <input type="text" id="titleinput" name="titleinput">

            <label for="restaurant">Restaurant</label>
            <input type="text" id="restaurant" name="restaurant">

            <label for="city">City</label>
            <input type="text" id="city" name="city">

            <label for="meats">Choose a meat category:</label>
            <select name="meats" id="meats">
                <option value="">--Please choose a category--</option>
                <option value="Beef">Beef</option>
                <option value="Pork">Pork</option>
                <option value="Poultry">Poultry</option>
                <option value="Seafood">Seafood</option>
            </select>
            <input type="file" id="imgUpload" name="file">
            <button type="submit">Upload</button>
        </form>
        </div>
        <div class="section-two">
            <h2>Community Dish Recomendations</h2>
            <p>Our patrons posted dishes from your local restaurants you may be hungry for.</p>
            <div class="filter-card-button">
                <span>Select filter:</span>
                <button onclick="filterCards('Beef')">Beef</button>
                <button onclick="filterCards('Pork')">Pork</button>
                <button onclick="filterCards('Poultry')">Poultry</button>
                <button onclick="filterCards('Seafood')">Seafood</button>
                <button onclick="filterCards('all')">Show All</button>
            </div>
            <ul>
                <% for(let i = 0; i < posts.length; i++) {%>
                    <div class="card" data-meat="<%= posts[i].meats %>">
                        <li>
                            <img src="<%= posts[i].imageurl%>" alt="<%= posts[i].titleinput %>">
                            <span><strong>Dish:</strong> <%= posts[i].titleinput %></span>
                            <span><strong>Restaurant:</strong> <%= posts[i].restaurant %></span>
                            <span><strong>City:</strong> <%= posts[i].city %></span>
                            <span><strong>Meat:</strong> <%= posts[i].meats %></span>
                            <span><strong>Recommended By:</strong> <%= posts[i].userId.username %></span>
                            <div class="button-container">
                                <a href="/post/<%= posts[i]._id%>">
                                    <button>Click Here To See Reviews</button>
                                </a>
                            </div>
                        </li>
                    </div>
                <% } %>
            </ul>
        </div>
    </main>
    <!-- <footer>Developed by MichaelNDev</footer> -->
    <script src="https://kit.fontawesome.com/2eabe83adc.js" crossorigin="anonymous"></script>
    <!-- /public/js/dashboard will not work because our path has assume /public as the default -->
    <script src="/js/dashboard.js"></script>
</body>
</html>