<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">
                <i class="fa-solid fa-bowl-food"></i>
                <p>TasteThreads</p>
            </a>
            <div class="nav-buttons">
                <ul>
                    <li>
                        <a href="/dashboard">Feed</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            <div>
        </div>
    </nav>
    <main>
        <div class="container-left">
            <h2><%= currentPost.titleinput %></h2>
            <div class="card">
                <img src="<%= currentPost.imageurl %>" alt="an img"/>
                <div class="overall-rating">
                    <h4>Overall Rating: <%= (reviews.map(x => x.rating).reduce((a,b) => a + b, 0) / reviews.length).toFixed(1) %></h4>
                </div>
                <span><strong>Price:</strong> $<%= currentPost.price %></span>
                <span><strong>Restaurant:</strong> <%= currentPost.restaurant %></span>
                <span><strong>City:</strong> <%= currentPost.city %></span>
                <span><strong>Meat:</strong> <%= currentPost.meats %></span>
                <span><strong>Recommended By: </strong><%= currentPost.userId.username %></span>
            </div>
            
            <div class="container-form">
                <h2>Share your experience with this dish!</h2>
                <form action="/post/:id/addreview" method="POST">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title">

                    <label for="rating">Rating: 1-10</label>
                    <input type="number" id="rating" name="rating" max="10" min="1">

                    <label for="comment">Comment</label>
                    <textarea id="comment" name="comment" rows="5"></textarea>

                    <input type="hidden" name="postId" value="<%= currentPost._id %>">

                    <button type="submit">Add Review</button>
                </form>
            </div>
        </div>
        <div class="container-right">
            <h2>Reviews</h2>
            <ul>
                <% for(let i = 0; i < reviews.length; i++) {%>
                    <li class="review-list">
                        <div class="review-core">
                            <h3><%= reviews[i].title %></h3>
                            <div class="comment-middle">
                                <span>Rating: <%= reviews[i].rating %>/10</span>
                                <span><%= reviews[i].date.toDateString().split(' ').slice(1).join(' ') %></span>
                                <span>Review by: <%= reviews[i].user %></span>
                            </div>
                            <p><%= reviews[i].comment %></p>
                            <div class="hidden">
                                <form action="/review/<%= reviews[i].id %>?_method=PUT" method="POST" class="update-form">
                                    <label for="rating">Update Rating</label>
                                    <input type="number" id="rating" name="rating">

                                    <label for="comment">Update Comment</label>
                                    <textarea id="comment" name="comment" rows="5"></textarea>

                                    <button type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                        <% if(currentUser == reviews[i].user) { %>
                                <div class="delete-update">
                                    <div>
                                        <button id="edit"><i class="fa-solid fa-pen"></i></button>
                                    </div>
                                    <form action="/deleteReview/<%= reviews[i].id %>?_method=DELETE" method="POST">
                                        <button type="submit"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </div>
                         <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/2eabe83adc.js" crossorigin="anonymous"></script>
    <script src="/js/post.js"></script>
</body>
</html>